<div fxLayout="row" fxLayoutGap="30px">
    <div fxFlex>
        <div fxLayout="row" fxLayoutGap="20px">
            <h2>Dialog with simple form</h2>
            <div fxLayout="column" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" (click)="showDemoForm()">Test dialog</button>
            </div>
        </div>
        <div fxLayout="row">
            <pre><code [languages]="['json', 'typescript']" [highlight]="demoForm"></code></pre>
        </div>
    </div>
    <div *ngIf="responseForm > ''" fxFlex>
        <div fxLayout="row" fxLayoutGap="20px">
            <h2>Resultado</h2>
        </div>
        <pre><code [languages]="['json']" [highlight]="responseForm"></code></pre>
    </div>
</div>
