<div fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column">
        <div *ngTemplateOutlet="samples; context: { title: 'Filter Editor', samples: samplesFilter}" fxLayout="row">
        </div>
        <div *ngTemplateOutlet="samples; context: { title: 'Dialogs', samples: samplesDialog}" fxLayout="row">
        </div>
        <div *ngTemplateOutlet="samples; context: { title: 'Dynamic Forms', samples: samplesDynForms}" fxLayout="row">
        </div>
    </div>
    <div fxFlex fxLayout="column">
        <div style="text-align: left" fxLayout="row" class="header">
            <h1 fxFlex>
                twa-md2-lib demo
            </h1>
            <twa-md2-notifications [notifsService]="notifsService" (panelClicked)="panelClicked($event)"></twa-md2-notifications>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #samples let-title="title" let-samples="samples">
    <h3>{{title}}</h3>
    <mat-list *ngFor="let page of samples">
        <mat-option [routerLink]="page.path" [ngClass]="{'selected': (router.url===('/'+page.path))}">
            {{page.title}}
            <span fxFlex></span>
            <span>
                <mat-icon matListIcon *ngIf="(router.url===('/'+page.path))">chevron_right</mat-icon>
            </span>
        </mat-option>
    </mat-list>
</ng-template>
