<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" fxLayout="row">
  <h1 fxFlex>
    twa-md2-lib
  </h1>
  <twa-md2-notifications [notifsService]="notifsService" (panelClicked)="panelClicked($event)"></twa-md2-notifications>
</div>

<div fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column">
        <mat-list *ngFor="let page of samples">
            <mat-option [routerLink]="page.path" [style.background-color]="(router.url===('/'+page.path)) ? '#ccc' : 'transparent'">
                <p>{{page.title}}</p>
            </mat-option>
        </mat-list>
    </div>
    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>